/* Import Inter font and set as default on page */

  @import url('https://rsms.me/inter/inter.css');
  *, html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
  *, html { font-family: 'Inter var', sans-serif; }
  }

/* Set default font colour */

  *, html {
    color: #2D2D29;
  }

/* Style masthead section layout and background */

  header.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('/img/masthead.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .header-divider {
    width: 500px;
    height: 5px;
    background-color: white;
  }

/* Show and hide sections that will be toggled with logic in chroma-app.js file */

  #pipeline-results,
  #citation-results,
  #get-citation-btn {
    display: none;
  }

  body.finished-loading #pipeline-results,
  body.citation-style-selected #citation-results {
    display: block;
  }

/* Overall app styling */

  .section-header-divider {
    width: 300px;
    height: 2px;
    background-color: #215A6D
  }

  .bg-dark-blue {
    background-color: #2D2D29;
  }

/* Bootstrap overrides */

  h1 {
    font-size: 110px;
  }

  .btn-primary {
    background-color: #215A6D;
    border: 1px solid #215A6D;
  }

  .btn-primary:hover {
    background-color: #215A6D;
    opacity: 0.75;
  }

  a,
  a:hover {
    color: #3CA2A2
  }

  .btn:focus,.btn:active {
    background-color: orange
    border: 1px solid #215A6D;
    outline: none !important;
    box-shadow: none;
  }

/* Pipeline running animation */

.loader {
  display: none;
  margin: 0 auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #215A6D;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body.loading .loader {
  display: block;
}

/* Corner ribbon showing version number */

.corner-ribbon{
  z-index: 2000;
  width: 200px;
  background: #3CA2A2;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #ffffff;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

.corner-ribbon.top-left{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}