/* Import Inter font and set as default on page */

@import url('https://rsms.me/inter/inter.css');
*, html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
*, html { font-family: 'Inter var', sans-serif; }
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('/img/masthead-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#pipeline-running-animation {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 ) 
              url('http://sampsonresume.com/labs/pIkfp.gif') 
              50% 50% 
              no-repeat;
}



/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading #pipeline-running-animation {
    display: block;
}

#pipeline-results,
#citation-results {
  display: none;
}

body.finished-loading #pipeline-results {
  display: block;
}

body.citation-style-selected #citation-results {
  display: block;
}

.divider {
  width: 300px;
  height: 5px;
  background-color: white;
}