/* Import Inter font and set as default on page */

@import url('https://rsms.me/inter/inter.css');
*, html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
*, html { font-family: 'Inter var', sans-serif; }
}

*, html {
  color: #2D2D29;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('/img/masthead-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#pipeline-running-animation {
  /* display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 ) 
              url('http://sampsonresume.com/labs/pIkfp.gif') 
              50% 50% 
              no-repeat; */
}



/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading #pipeline-running-animation {
    display: block;
}

#pipeline-results,
#citation-results {
  display: none;
}

body.finished-loading #pipeline-results {
  display: block;
}

body.citation-style-selected #citation-results {
  display: block;
}

.header-divider {
  width: 500px;
  height: 5px;
  background-color: white;
}

.section-header-divider {
  width: 300px;
  height: 2px;
  background-color: #215A6D
}

h1 {
  font-size: 110px;
}


.bg-dark-blue {
  background-color: #2D2D29;
}

.btn-primary {
  background-color: #215A6D;
  border: 1px solid #215A6D;
}

.btn-primary:hover {
  background-color: #215A6D;
  opacity: 0.75;
}

a,
a:hover {
  color: #3CA2A2
}

#get-citation-btn {
  display: none;
}

/* .btn:focus,.btn:active {
  background-color: orange
  border: 1px solid #215A6D;
  outline: none !important;
  box-shadow: none;
} */



.loader {
  display: none;
  margin: 0 auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #215A6D;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body.loading .loader {
  display: block;
}