/* Import Inter font and set as default on page */

@import url('https://rsms.me/inter/inter.css');
*, html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
*, html { font-family: 'Inter var', sans-serif; }
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

